name: 'Test'
on:
  workflow_dispatch: {}
  pull_request: {}
  push:
    branches:
      - master

jobs:
  Test:
    name: 'openapi_spec_tests'
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v4
      - uses: dart-lang/setup-dart@v1
        with:
          sdk: stable

      - name: Run tests
        run: |
          export TERM=xterm
          make test
          make format